def menu():
    print("[1] LULU 1")
    print("[2] GAREN 2")
    print("[3] LEESIN 3")
    print("[0] Exit the program.")

def option3():
    print("Option 3 Carl Francis Has Been Choosing Champion!")

menu()
option = int(input("Enter your Champs: "))

while option != 0:
    if option ==1:
        #do option 1 stuff
        print("Option 1 has been called.")
    elif option == 2:
        #do option 2 stuff
        print("Option 2 has been called.")
    else:
        print("Invalid Option.")
    
    print()
    menu()
    option = int(input("Enter your option: "))

print("Thanks for choosing champs. kamsamida")
